.form
{
    width : fit-content;
    background: rgba(224, 220, 220, 0.55);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius: var(--border-radius);
    padding: 20px;
    margin: 20px;
    color: white;
    font-family: "confortaa regular", sans-serif;
    font-size: var(--font-size);
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    min-width: 300px;
}

.form-control
{
    background: rgba(224, 220, 220, 0.24);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius: var(--border-radius);
    color: var(--color-white);
    border: 1px solid rgba(224, 220, 220, 0.55);
    margin : 10px 0px;
    transition: all 0.3s ease-in-out;
}

.form-control:focus
{
    background: rgba(224, 220, 220, 0.55);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius: var(--border-radius);
    border: 1px solid rgba(224, 220, 220, 0.55);
    color: var(--color-white);
}

.form-control::placeholder
{
    color: var(--color-white);
}


small
{
    color: var(--color-white);
}