.nav-tabs .nav-link
{
    color: var(--color-white);
    border: none;
    border-radius: var(--border-radius);
}

.nav-tabs
{
    border-color: var(--color-grey3);
}

.nav-tabs .nav-link:hover
{
    background-color: var(--color-blue2);
    curosr: pointer;
    color: var(--color-white);
}

.nav-tabs .nav-link:hover
{
    background-color: var(--color-blue2);
    curosr: pointer;
    border-radius: var(--border-radius);
    color: var(--color-white);
}

.nav-tabs .nav-link.active
{
    background: rgba(255, 252, 252, 0.24);
    color: var(--color-white);
    border: none;
    border-radius: var(--border-radius);
}

.nav-tabs .nav-link.active:hover
{
    background-color: var(--color-white);
    color: var(--color-black);
    curosr: pointer;
}


.nav-tabs .nav-item
{
    padding:0;
}